.card-containers {
    .card-exercice {
        border-radius: 10px;
        padding: 20px;
        transform: translateY(-10px);
        opacity: 0;
        animation: fade-in 0.5s ease-in-out forwards;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        cursor: pointer;
        position: relative; // Définit la position comme relative pour les enfants pseudos-éléments
        &:hover {
            &:before {
                content: ""; // Ajoute un contenu vide pour l'élément
                position: absolute; // Positionne l'élément de façon absolue par rapport au parent
                top: -5px; // Place l'élément 10px au-dessus de la carte
                left: 0;
                width: 100%;
                height: 5px; // Définit la hauteur de l'élément à 10px
                background-color: #fde047; // Définit la couleur de fond de l'élément
                z-index: 1; // Élévation au-dessus de la carte
                border-radius: 20px;
            }
        }
        .exercice-name {
            text-align: center;
            font-size: 1.2rem;
        }
        .card-target {
            margin: 0rem 4px 1rem 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn {
                border-radius: 4rem;
            }
            .first-btn {
                background-color: #4e5668;
                &:hover {
                    background-color: #3c4251;
                }
            }
            .second-btn {
                color: #fde047;
            }
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 640px) {
    .card-exercice {
        height: 420px;
    }
}
